@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Merienda:wght@300..900&display=swap");

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-parisienne: {"parisienne", "sans-serif"}; 
  --color-primary: #9dff3a;
  --color-light: #e5e5e5;
  --color-gray1: #999999;
  --color-gray2: #4d4d4d;
  --color-gray3: #2e2e2e;
  --color-gray4: #0f0f0f;
  --color-gray5: #ededf2;
  --color-overlay: #9dff3a;
   --animate-marquee: marquee 35s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
  /* ... */


body{
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  background-color: black;
  color: #e5e5e5;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar *{
  background: transparent;
}
::-webkit-scrollbar-thumb{
  background: #9dff3a;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
  background: #9cff3a9d !important;
}
